aiohttp==3.8.1
aiosignal==1.2.0
APScheduler==3.9.1
async-timeout==4.0.2
asynctest==0.13.0
atomicwrites==1.4.0
attrs
bayesian-optimization==1.2.0
beautifulsoup4==4.10.0
cassandra-driver==3.25.0
catboost==1.0.4
certifi==2021.10.8
charset-normalizer==2.0.12
click
colorama
colorhash==1.0.4
configparser==5.2.0
cycler==0.11.0
dnspython==2.2.1
et-xmlfile==1.1.0
Flask
Flask-Cors
Flask-MonitoringDashboard==3.1.1
frozenlist==1.3.0
future==0.18.2
geoip2==4.5.0
geomet==0.2.1.post1
graphviz==0.19.1
greenlet==1.1.2
idna==3.3
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
jsonschema
kiwisolver==1.4.0
kneed
lightgbm==3.3.2
MarkupSafe
matplotlib==3.2.2
maxminddb==2.2.0
mixed-naive-bayes==0.0.1
more-itertools==8.12.0
multidict==6.0.2
numpy
openpyxl==3.0.9
pandas==1.1.5
plotly==5.6.0
pluggy==0.7.1
psutil==5.9.0
py==1.11.0
pyaml==21.10.1
pyparsing==3.0.7
pyrsistent
pytest==3.6.4
python-dateutil==2.8.2
python-whois==0.7.3
pytz==2021.3
PyYAML
regex
requests==2.27.1
scikit-learn
scikit-optimize==0.9.0
scipy
seaborn==0.11.2
six
sklearn==0.0
soupsieve==2.3.1
SQLAlchemy==1.4.32
tenacity==8.0.1
threadpoolctl
tqdm
typing_extensions
tzlocal==2.0.0
urllib3==1.26.9
virtualenv==16.7.5
Werkzeug
wincertstore==0.2
xlrd==2.0.1
yarl==1.7.2
zipp
gunicorn